In [1]:
from sklearn import datasets

In [4]:
data= datasets.load_boston()

In [5]:
X1=data.data
Y1=data.target

In [7]:
import pandas as pd

In [18]:
df=pd.DataFrame(X1)
df.columns=data.feature_names
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [14]:
header=data.feature_names

In [19]:
for i in range(11):
    df[header[i]+' '+header[i+1]]=df[header[i]]*df[header[i+1]]

In [20]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,ZN INDUS,INDUS CHAS,CHAS NOX,NOX RM,RM AGE,AGE DIS,DIS RAD,RAD TAX,TAX PTRATIO,PTRATIO B
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,...,41.58,0.0,0.0,3.537350,428.6900,266.66800,4.0900,296.0,4528.8,6072.570
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,...,0.00,0.0,0.0,3.011449,506.6169,391.90419,9.9342,484.0,4307.6,7064.820
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,...,0.00,0.0,0.0,3.369765,439.0035,303.48981,9.9342,484.0,4307.6,6992.374
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,...,0.00,0.0,0.0,3.205084,320.5084,277.64876,18.1866,666.0,4151.4,7379.581
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,...,0.00,0.0,0.0,3.273326,387.3674,328.57124,18.1866,666.0,4151.4,7422.030

In [23]:
X2=df.values
Y2=Y1
X2.shape

(506, 24)

In [25]:
from sklearn import model_selection as ms

In [26]:
X1_tr,X1_te,Y1_tr,Y1_te=ms.train_test_split(X1,Y1,random_state=0)
X2_tr,X2_te,Y2_tr,Y2_te=ms.train_test_split(X2,Y2,random_state=0)

In [27]:
from sklearn.linear_model import LinearRegression

In [29]:
algo1=LinearRegression()
algo2=LinearRegression()

In [31]:
algo1.fit(X1_tr,Y1_tr)
algo2.fit(X2_tr,Y2_tr)

LinearRegression()

In [32]:
Y1_pred=algo1.predict(X1_te)
Y2_pred=algo2.predict(X2_te)

In [39]:
score1_test=algo1.score(X1_te,Y1_te)
score1_train=algo1.score(X1_tr,Y1_tr)
score2_test=algo2.score(X2_te,Y2_te)
score2_train=algo2.score(X2_tr,Y2_tr)

In [40]:
print('Training data score algo1:',score1_train,' test data score algo1 : ',score1_test)
print('Training data score algo2:',score2_train,' test data score algo2 : ',score2_test)

Training data score algo1: 0.7697699488741149  test data score algo1 :  0.6354638433202132
Training data score algo2: 0.825581857468803  test data score algo2 :  0.7064823375541646